/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 29, 2013, 7:31:24 PM
    Author     : pretseli
*/

a.logo {
    float: left;
    margin: 6px 10px;
    padding: 0;
}

.wrapper, .header, .error {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.wrapper, .error {
    top: 103px;
    background-color: #FFFFFF;
    line-height: 1.4;
    border-left: 2px solid #c04700;
    border-right: 2px solid #c04700;
    padding-bottom: 15px;
}

div.header {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #fbfa7d;
    background-repeat: repeat;
    height: 101px;
    border-color: #c04700;
    border-style: solid;
    border-width: 0 2px 2px 2px;
    /*border-bottom-left-radius: 70px 60px;
    border-bottom-right-radius: 70px 60px;*/
}

    div.header:before {
        font-family: "Architects Daughter";
        font-weight: normal;
        font-size: 36px;
        content: 'TaTSi - Academic circus club of Tampere';
        line-height: 68px;
        color: #444444;
        margin-left: 4px;
        /*text-shadow: 2px 2px #000000;*/
    }

    div.header h1 {
        display: none;
    }

    div.header span.gotobar {
        bottom: 0;
        right: 0;
        margin-left: 2px;
        left: 130px;
        position: absolute;
        font-size: 12px;
    }

        div.header span.gotobar a {
            z-index: 0;
            font-size: 13px;
            display: inline-block;
            margin-left: -6px;
            margin-right: 14px;
            border-width: 2px;
            border-bottom: 0;
            border-color: #76a543;
            border-style: solid;
            background-color: #daff8c;
            text-shadow: none;
            transition: background-color 0.25s linear,
                        border-color 0.25s linear,
                        color 0.25s linear;
        }

        div.header span.gotobar a:hover,
        div.header span.gotobar a:active,
        div.header span.gotobar a.selected {
            background-color: #ffd970;
            border-color: #c04700;
            color: #252222;
            z-index: 1;
        }

div.content {
    top: 0;
    /*background: #fbffdf;
    border-radius: 40px;
    border: #c04700 solid 2px;*/
    position: relative;
    padding: 10px 20px;
    margin-left: 3px;
    overflow: hidden;
    margin-right: 3px;
    left: 0;
    min-height: 100%;
}

div.wrapper {
    min-height: 100%;
    position: absolute;
}

div.content .crossbar {
    position: relative;
    display: block;
    float: right;
    width: 300px;
    min-height: 100px;
    height: auto;
    padding-top: 10px;

}

div.content .crossbar > div {
    /*display: block;
    width: 270px;
    min-height: 200px;
    border-left: #c04700 solid 2px;
    border-bottom: #c04700 solid 2px;
    border-bottom-left-radius: 10px;
    margin-bottom: 18px;*/
}

/*div.wrapper > div.crossbar {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 15px;
    width: 280px;
    height: 300px;
    background: #fbffdf;
    border-radius: 40px;
    border: #c04700 solid 2px;
    padding-left: 15px;
}*/

/* Responsive iFrame */
.iframe-wrapper {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#fb-root {
    display: none;
}

.fb-like-box,
.fb-like-box span,
.fb-like-box span iframe[style] {
    width: 100% !important;
}

div.header .fb-like {
    position: absolute;
    right: 10px;
    bottom: 4px;
}

div.header br,
div.footer br,
div.footer hr,
span.edit a.comment,
div.footer span.gotobar,
div.footer,
div.wrapper.close,
div.footer span.time {
    display: none;
}
