/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 29, 2013, 7:27:30 PM
    Author     : pretseli
*/


@media (max-width: 1024px) {
    div.header, div.wrapper {
        border-left: 0;
        border-right: 0;
    }
}

@media (max-width: 839px) {


    div.header:before {
        line-height: 64px;
        font-size: 31px;
    }

    div.header span.gotobar {
        white-space: nowrap;
        left: 130px;
    }

    span.gotobar a {
        color: #222222;
        font-size: 15px;
        margin:0;
        margin-left: 5px;
        padding: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media (max-width: 800px) {

    div.header .fb-like {
        margin-bottom: 58px;
    }

    div.header:before {
        font-size: 27px;

    }
}

@media (max-width: 755px) {
    div.header:before {
        font-size: 25px;
    }
}

@media (max-width: 720px) {

    div.header .fb-like {
        margin-bottom: 35px;
    }

    div.header span.gotobar a {
        margin-right: 0px;
    }

    a.logo {
        margin-left: 8px;
    }

    img.logo {
       width: 66px;
       height: 59px;
    }

    div.header {
        height: 70px;
    }

    .wrapper {
        top: 72px;
    }

    div.header:before {
        line-height: 34px;
        font-size: 21px;
    }

    div.header span.gotobar {
        left: 90px;
    }

    div.content {
       padding: 4px 4px;
    }
}

@media (max-width: 610px) {
    a.logo {
        margin-right: 5px;
    }
    img.logo {
        width: 25px;
        height: 22px;
    }

    div.header:before {
        font-size: 20px;
        line-height: 34px;

    }

    div.header span.gotobar {
        left: 10px;
    }

    div.header span.gotobar a {
        font-size: 12px;
        margin-right: 10px;
    }
}

@media (max-width: 539px) {

    a.logo {
        position: absolute;
        left: 50%;
        margin-left: -230px;
    }

    div.header {
        text-align: center;
    }

    div.header span.gotobar {
        display: block;
        width: 100%;
        left: 0;
        text-align: center;
    }

    div.header span.gotobar a {
        margin-right: 0;
    }

    div.header:before {
        content: 'TaTSi - Academic circus club';
        margin-left: -110px;
    }

}

@media (max-width: 474px) {

    a.logo {
        margin-left: -192px;
    }

    div.header span.gotobar a {
        padding: 10px 10px;
    }

    div.header:before {
        margin-left: -48px;
    }

}

@media (max-width: 422px) {

    a.logo {
        margin-left: -152px;
    }

    div.header span.gotobar a:first-child {
        display: none;
    }

    div.header:before {
        content: 'TaTSi - Circus club';
        margin-left: -60px;
    }

}

@media (max-width: 370px) {
    div.header span.gotobar > a:last-of-type {
        display: none;
    }
}

@media print {
    div.sidebar {
        display: none;
    }
    div.header {
        display:none;
    }
    div.wrapper {
        top: 0;
        bottom: 0;
        margin: 0;
        padding: 0
    }
}