@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

@import url(desktop.css);
@import url(other_media.css);

html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Helvetica, sans;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    background-color: #75759b;

    }

    body.admin div.footer {
        display:block;
        z-index: 2;
        position: fixed;
        right: 0;
        left: 0;
        background-color: #eeeeee;
        border-top: 0.1em solid #999999;
        padding: 0.8em;
        margin: 0;
        font-size: 80%;
        color: #999;
        bottom: 0;
        height: 32px;
    }

    body.admin div.content {
        margin-right: 3px;
        margin-bottom: 48px;

    }

a {
    color: #57e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
a:visited {
    color: #75e;
}

a img {
    border: none;
}

form.search {
    margin: 0;
    float: left;
}

form.search p {
    margin: 0;
}

hr {
    height: 0.1em;
    color: #fff;
    border: none;
    border-bottom: 0.1em solid #ccc;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Nimbus Roman No, URW Bookman L, Century Schoolbook L, Bookman Old Style, serif;
    margin-top: 0;
}

input, select, textarea {
    border: 0.1em solid #ccc;
    font-size: 100%;
    font-family: DejaVu Sans Mono, BitstreamVera Sans Mono, Lucida Console, monospace;
    vertical-align: middle;
}

textarea {
    right: 0;
}

td {
    padding-right: 0.7em;
}

div.footer span.edit {
    float: right;
}

span.edit a,
span.gotobar a {
    position: relative;
    margin: 0;
    background: #ededed;
    border: 1px solid #999999;
    display: inline-block;
    color: #444444;
    font-family: monospace;
    font-size: 13px;
    font-weight: bold;
    padding: 7px 14px;
    text-decoration:none;
    text-shadow:1px 1px 0 #f4f4f4;
}
span.edit a:hover,
span.gotobar a:hover {
    background: #fdfdfd;
}

div.diff div.new {
    font-size: 80%;
    background-color: #dfb;
    border: 1px solid #be0;
}
div.diff div.new p {
    margin: 0;
    padding: 14px;
    border: 1px solid #efe;
}
div.diff div.old {
    font-size: 14px;
    background-color: #fff4aa;
    border: 0.1em solid #eb4;
}
div.diff div.old p {
    padding: 14px;
    margin: 0;
    border: 0.1em solid #ffe;
}

div.month {
    float: left;
    margin: 14px;
}
div.month a.today {
    font-weight: bold;
}

div.message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 11px;
    padding: 4px;
    background: #ffb;
    border: 1px solid #eb4;
    color: #972;
    margin: 0;
}
div.message p {
    margin: 0;
    border: 0.1em solid #ffe;
}

.definition {
    display:none;
}



